*{margin:0;
padding:0;
box-sizing: border-box;}

#header{
    background: black;
    color: white;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
}
.menu-log{
    display:flex;
}

.logo{
    width: 16%;
    margin-right: 20px;
}

.img{
    width: 100%;
}

.menu ul{
    display: flex;
    padding:15px;
}

.menu ul li{
    padding:15px;
    list-style: none;
}
.menu-log{
    display: flex;
    justify-content: space-between; 
}

.Videosubmit button{
    padding: 15px;
    border:2px solid crimson;
    background: transparent;
    color: crimson;
    margin:10px;
}

/* Action start */

#Action{
    position: relative;
}

.AllAction{
    position: absolute;
    top: 50%;
    left:65px;
    transform: translateY(-50%);
}
.infoAction span{
    color: #ffffff;
    font-size:20px;
    font-weight: 700; 
}

.infoAction h1{
    color: #ffffff;
    font-size: 100px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.infoAction h4{
    margin-bottom: 20px;
    font-size:55px;
    line-height:1.2rem;
    color:rgba(255,255,255, 0.56);
}

.infoAction h6{
    font-size: 26px;
    letter-spacing: 10px;
    text-transform: uppercase;
    width: 100%;
    position: absolute;
    text-align: center;
    z-index: 10;
    color: #ffffff;
}
.play-ico{
    opacity: .9;
    color: #ffffff;
    position: absolute;
    font-size: 5em;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.left-arrow, .right-arrow{
    position: absolute;
    top:50%;
    transform: translateX(-50%);
    left:20px;
    z-index: 15;
    font-size: 2rem;
    color: white;
}
.left-arrow{
    left: 25px;
}
.right-arrow{
    right: 25px;
}

